	/* saisie commande */
		.ui-table-columntoggle-btn {
		display: none !important;
		}
		.trgrey
		{
		background-color:#EEEEEE;
		}
		.tbody{
		background-color:#EEEEEE;
		}
		#tablecommande th { padding : 15px; }
		#tablecommande td { vertical-align: top; text-align: center;}
		#tablecmd td { width:50px; padding:0px;text-align: center;vertical-align: center;}
		.shadow{text-decoration: none;color : white;}
	/* liste commandes */
	table#example {
		border-collapse: collapse;   
		}
		#TableListeCommandes tr:hover {
			background-color: #A9D0F5;
		}
		#TableLigneCommandes tr:hover {
			background-color: #A9D0F5;
		}
		
		#example th, #example td {
			padding: 5px 10px;
		}
		#example td:hover {
			cursor: pointer;
		}
		
	/* login */
	fieldset {   
	  -moz-border-radius:20px;  
	  border-radius: 20px;  
	  -webkit-border-radius: 30px; 
	  margin: 0 auto;
	  width: 50%;
	  margin: 0 auto;
	  display: inline-block;
	}
	#fieldset{
	border:solid 1px silver;
	padding:30px;
	}
	#legend{
	font-size:11; 
	font-weight:bold;
	}
	.wrapper {
			position:absolute;
			top:50%;
			left:50%;
		}
	#canvasloader-container {
	height: 15em;
	width: 20em;
	-moz-border-radius: 1em 4em 1em 4em;
	border-radius: 1em 4em 1em 4em;
	}
	/* calendrier */
		/*.ui-table-columntoggle-btn {
		display: none !important;
		}*/
		#td{   
		  -moz-border-radius:20px;  
		  border-radius: 20px;  
		  -webkit-border-radius: 10px; 
		  text-align:center;
		  }
		.td{   
		  -moz-border-radius:20px;  
		  border-radius: 20px;  
		  -webkit-border-radius: 10px; 
		  text-align:center;
		  }
		  
		#nomargin{
			margin: 0;
			padding: 0; 
		}
		#table {
        border-collapse: separate;
        border-spacing: 3px 3px;
		}
		.img{
		position:absolute;
		top:40%;
		left :95%;
		}
		#img2{
		vertical-align:middle;
		}
		.redprio {
		border-left: 1px solid #f00;
		border-right: 1px solid #f00;
		border-top: 1px solid #f00;
		border-bottom: 1px solid #f00;
		}
		.orangeprio {
		border-left: 1px solid #febf04 ;
		border-right: 1px solid #febf04; 
		border-top: 1px solid #febf04;
		border-bottom: 1px solid #febf04; 
		}
		.greenprio{
		border-left: 1px solid #b4df5b;
		border-right: 1px solid #b4df5b;
		border-top: 1px solid #b4df5b;
		border-bottom: 1px solid #b4df5b;
		}
		
		.smalltable{
		font-family:Verdana; font-size:12px;
		
		}
		.smalltable td{ width : 30%;}
		
		.alertlabel {
			padding-top: 35px;
			padding-right: center;
			padding-bottom: 0px;
			padding-left: 0px;
			
		}
		.parag{
		font-size:14px;
		
		}
		.smallLabel{
		font-size:12px;
		}
 
 .hiddencell
	{
	visibility:hidden;
	} 
	
	
	.ui-input-text
	{
	width: 150px !important;
	}
	.invisible {
    position: absolute;
    left: -9999px;
    }
	
	.hide{
	  display: none;
	  }
	.show{
	  display: block;
	}
	

      
	/*font size */
	
	body,
.ui-loader-verbose h1,
.ui-bar,
.ui-bar h1, .ui-bar h2, .ui-bar h3, .ui-bar h4, .ui-bar h5, .ui-bar h6,
/*.ui-header .ui-title, .ui-footer .ui-title,*/
.ui-btn-inner,
.ui-fullsize .ui-btn-inner,
label.ui-submit,
.ui-collapsible-heading,
.ui-controlgroup-label,
.ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label,
.ui-popup .ui-title,
label.ui-select,
label.ui-input-text,
input.ui-input-text, textarea.ui-input-text,
.ui-li-heading,
label.ui-slider,
.ui-field-contain input.ui-slider-input,
span.ui-slider-label {
font-size: 14px;
}
	  